@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");

:root {
  --white-primary: #eeebea;
  --orange-primary: #f63e02;
  --orange-secondary: #e6682d;
  --bg-black: rgba(0, 0, 0, 0.514);
  --linear-gradient: linear-gradient(
    138deg,
    rgba(246, 62, 2, 1) 0%,
    rgba(255, 146, 68, 0.644) 35%,
    rgba(255, 255, 255, 0.253) 100%
  );

  /* rock and scissors */
  --pink-primary: #c453ab;
  --red-border: #d02142;
  --blue-primary: #358dbdd3;
  --blue-bg: #81f6f5;
  --blue-dark: #0d61b2;
}

.color-border {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.795))
      padding-box,
    linear-gradient(to right, #f63f028f, #ffb444a4, #fda261a4, #ffffff41)
      border-box;
  border-radius: 7px;
  border: 2px solid transparent;
  padding: 7px;
}
